<%= render 'cours/profile' %>
<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<div class="feed">
  
<div class="title">
  <h2>Mes Videos( <%= @cours.count %> ) </h2>
</div>
   <% @cours.each do |cour| %>
  
  <div class="item shadow">
    <p> <%= cour.title %></p>
    <div class="video">
      <%=  embed(cour.url)%>
    </div>
        <div class="actionbar">
  <div class="left">
       <%= link_to "voir l'article", cour, class: "btn btn-default" %>
  </div>
    <div class="right">
      créer il y a <%= time_ago_in_words(cour.created_at)%>
    </div>
  </div>
  </div>
  
  <% end %>
  
  </div>
