<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>
<center>

<div class="item-presentation">

<div class="image">
    <%= image_tag 'https://hellomentor.s3.amazonaws.com/users/avatars/large/22440.jpg?1452874129' %>
  </div>

  <h3>Name:</h3>
  <h4>Hassan Senhaji</h4>
  <h3>Matiere enseigné: </h3>
  <h4>Maths Tous niveau</h4>
  <%= link_to "Voir profil", "https://www.livementor.com/membre/Hassan-S?reserver", class: "btn btn-default" %> <br>



<%= link_to 'Edit', edit_cour_path(@cour), class: "btn btn-default" %> |
<%= link_to 'Back', cours_path, class: "btn btn-default" %>

</div>
<div class="item-details">
<h3><%= @cour.title %></h3>
<div class="embed-container">  
<%= embed(@cour.url) %>	
</div>
	<div class="item-show">
	<h3>Presentation: </h3>
		<%= @cour.body %>
	</div>
	<div class="item-activity">
		<h3>Creation</h3>
		<%= simple_form_for [@cour, Document.new]  do |f| %>
	      <div class="field">
	        <%= f.input :title, class: "form-control" %>
	        <%= f.input :url, class: "form-control" %>
	      </div>
	      <br>
	      <%= f.submit "Add document", class: "btn btn-primary" %>
	    <% end %>

		<h3>Documents à telecharger:</h3>
		 <%= render :partial => @cour.documents %>
	</div>
	
</div>

<center>
<div class="list-items">
	
<%= render 'cours/list_item' %>
 
</div>

